.mx-modal {
  color: var(--mds-color-secondary);

  .modal {
    min-width: 300px;
  }

  .bg-modal-backdrop {
    background: var(--mds-color-modalbg);
  }

  .bg-modal-header {
    background: var(--mds-color-secondary-ultralight);
  }

  .bg-modal-content {
    background: var(--mds-color-secondary-ultralight);
  }

  .bg-modal-card {
    background: var(--mds-color-white);
  }

  .bg-modal-footer {
    background: var(--mds-color-secondary-ultralight);
  }

  &.modal-medium > .modal {
    max-width: 50rem; /* 800px */
    max-height: 37.5rem; /* 600px */
  }

  &.modal-large > .modal {
    @apply flex-grow h-full;
    /* 40px margin around modal */
    max-width: min(calc(100vw - 5rem), 75rem); /* True max width is 1200px */
    max-height: calc(100vh - 5rem);
  }
}
