.mx-tab {
  .active-tab-indicator {
    background: var(--mds-color-primary);
  }

  button {
    color: var(--mds-color-secondary);
    --ripple-color: var(--mds-color-secondary-ultralight);

    &[aria-selected='true'] {
      color: var(--mds-color-primary);
    }

    &:not([aria-selected='true'], :active) i:not(.mx-badge i) {
      color: var(--mds-color-secondary);
      &.icon-only {
        color: var(--mds-color-secondary);
      }
    }

    &:focus-visible {
      background: var(--mds-color-secondary-light);
      border-bottom-color: var(--mds-color-secondary-light);
      &[aria-selected='true'] {
        border-bottom-color: var(--mds-color-secondary-light);
      }
    }

    &:hover {
      background: var(--mds-color-secondary-ultralight);
      border-bottom-color: var(--mds-color-secondary-light);
      &[aria-selected='true'] {
        border-bottom-color: var(--mds-color-secondary-light);
      }
    }

    &:active {
      color: var(--mds-color-secondary);
      border-bottom-color: var(--mds-color-secondary-light);
    }
  }
}
