.mx-toggle-button {
  border-color: #bcbcbc;
  --ripple-color: #afc9e6;

  .btn-toggle {
    background: #fff;
  }

  input:focus ~ .btn-toggle {
    background: #d7d7d7;
  }

  input:hover ~ .btn-toggle {
    background: #eeeeee;
  }

  input:active ~ .btn-toggle {
    background: #fff;
    color: #0457af;
  }

  input:checked ~ .btn-toggle {
    background: #dde8f4;
  }

  [aria-disabled] .btn-toggle {
    color: #c1c1c1;
    &:focus,
    &:hover,
    &:active {
      color: #c1c1c1;
      background: #fff;
    }
  }
}
