.mx-toggle-button {
  color: var(--mds-text-btn-toggle);
  border-color: var(--mds-border-btn-toggle);
  --ripple-color: var(--mds-ripple-btn-toggle);

  .btn-toggle {
    background: var(--mds-bg-btn-toggle);
    outline-offset: -1px;

    &:focus:not([aria-disabled]) {
      background: var(--mds-bg-btn-toggle-focus);
    }

    &:hover:not([aria-disabled]) {
      background: var(--mds-bg-btn-toggle-hover);
    }

    &:active:not([aria-disabled]) {
      background: var(--mds-bg-btn-toggle-active);
      color: var(--mds-text-btn-toggle-active);
    }

    &[aria-disabled] {
      color: var(--mds-text-btn-toggle-disabled);
      background: var(--mds-bg-btn-toggle-disabled);
    }

    &.selected,
    &.selected:focus {
      background: var(--mds-bg-btn-toggle-selected);
    }
  }
}
