.mx-toggle-button {
  --ripple-color: #afc9e6;

  .btn-toggle {
    background: #fff;

    &:focus {
      background: #d7d7d7;
    }

    &:hover {
      background: #eeeeee;
    }

    &:active {
      background: #fff;
      color: #0457af;
    }
  }

  input:checked ~ .btn-toggle {
    background: #dde8f4;
  }

  [aria-disabled] .btn-toggle {
    color: #c1c1c1;
    &:focus,
    &:hover,
    &:active {
      color: #c1c1c1;
      background: #fff;
    }
  }

  & + .mx-toggle-button .btn-toggle {
    border-left: 1px solid #bcbcbc;
  }

  &:first-of-type .btn-toggle {
    border-radius: 4px 0 0 4px;
  }

  &:last-of-type .btn-toggle {
    border-radius: 0 4px 4px 0;
  }

  &:first-of-type:last-of-type .btn-toggle {
    border-radius: 4px;
  }
}
