.mx-table {
  .mx-table-row {
    border-color: var(--mds-border-table-cell);
    & > :first-child {
      @apply pl-24;
    }
    & > :last-child {
      @apply pr-24;
    }
    &.header-row > :first-child {
      @apply rounded-tl-2xl;
    }
    &.header-row > :last-child {
      @apply rounded-tr-2xl;
    }
    &:last-of-type > :first-child {
      @apply rounded-bl-2xl;
    }
    &:last-of-type > :last-child {
      @apply rounded-br-2xl;
    }
    &:not(:last-of-type) > * {
      @apply border-b;
    }
    & > * {
      background: var(--mds-bg-table);
    }
    &.header-row > * {
      background: var(--mds-bg-table-header);
      border-color: var(--mds-border-table-header);
    }
    &:not(.header-row):focus-within > .mx-table-cell {
      background: var(--mds-bg-table-focus);
    }
  }
  &.hoverable .mx-table-row:not(.header-row, :focus-within):hover > .mx-table-cell {
    background: var(--mds-bg-table-hover);
  }
}
