.mx-table {
  [slot='search'] {
    @apply sm:w-240;
  }

  .table-grid > * {
    /* Only place table cell elements into the grid (not row elements). */
    @apply contents;
  }

  .header-row > * {
    background: var(--mds-bg-table-header);
    border-color: var(--mds-border-table-header);
    @apply border-b;
    &:first-child {
      @apply rounded-tl-2xl pl-24;
    }
    &:last-child {
      @apply rounded-tr-2xl pr-24;
    }
  }

  .mx-table-row > *,
  .pagination-row > * {
    background: var(--mds-bg-table);
  }

  .mx-table-row {
    border-color: var(--mds-border-table-cell);
    & > :first-child {
      @apply pl-24;
    }
    & > :last-child:not(.pr-0, .p-0) {
      @apply pr-24;
    }
    &:last-child > :first-child {
      @apply rounded-bl-2xl;
    }
    &:last-child > :last-child {
      @apply rounded-br-2xl;
    }
    &:not(:last-child) > * {
      @apply border-b;
    }
    &:focus-within > .mx-table-cell {
      background: var(--mds-bg-table-focus);
    }
  }

  &.hoverable .mx-table-row:not(:focus-within):hover > .mx-table-cell {
    background: var(--mds-bg-table-hover);
  }

  &.paginated {
    .mx-table-row {
      &:last-child > * {
        @apply border-b;
      }
      &:last-child > :first-child,
      &:last-child > :last-child {
        @apply rounded-none;
      }
    }
  }
}

.mx-table-cell {
  @apply p-16;
}
