.mx-table {
  [slot='search'] {
    @apply sm:w-240;
  }

  .table-grid > *:not(.hidden) {
    /* Only place table cell elements into the grid (not row elements). */
    @apply contents;
  }

  .header-row > * {
    background: var(--mds-bg-table-header);
    border-color: var(--mds-border-table-header);
    @apply border-b;
    &:first-child {
      @apply pl-24 rounded-tl-2xl;
    }
    &:last-child {
      @apply sm:pr-24 rounded-tr-2xl;
    }
  }

  .mx-table-row > .table-row > *,
  .first-column-wrapper > *,
  .empty-state > * {
    background: var(--mds-bg-table);
  }
  .mx-table-row > .table-row.subheader > *,
  .table-row.subheader > .first-column-wrapper > * {
    background: var(--mds-bg-table-subheader);
    color: var(--mds-text-table-subheader);
  }

  .empty-state {
    &:last-child {
      & > :first-child {
        @apply rounded-bl-2xl;
      }
      & > :last-child {
        @apply rounded-br-2xl;
      }
    }
    &:not(:last-child) > * {
      @apply border-b;
    }
  }

  .mx-table-row {
    & > .table-row {
      border-color: var(--mds-border-table-cell);

      & > :last-child:not(.pr-0, .p-0) {
        @apply sm:pr-24;
      }

      & > * > .mx-table-row {
        &:first-of-type {
          @apply border-t sm:border-t-0;
        }
        &:last-of-type {
          @apply border-b-0;
        }
      }
      &:focus-within > *,
      &:focus-within > .first-column-wrapper > *:not(.table-row-indent) {
        background: var(--mds-bg-table-focus);
      }
      .first-column-wrapper > :nth-child(2) {
        @apply pl-24;
      }
      .mobile-row-chevron {
        color: var(--mds-text-table-mobile-row-chevron);
        transition: transform 0.15s ease;
      }
      &.mobile-collapsed {
        .mx-table-cell:not(.exposed-cell),
        .action-cell {
          @apply sr-only;
        }
      }
      &.checkable-row .exposed-cell {
        @apply pl-16;
      }
      .table-row-indent {
        background: var(--mds-bg-table-indent);
      }
      .drag-handle {
        color: var(--mds-text-table-drag-handle);
      }
    }

    &.last-row > .table-row {
      @apply rounded-b-2xl;

      & > :first-child {
        @apply sm:rounded-bl-2xl;
      }
      & > :last-child {
        @apply sm:rounded-br-2xl;
      }
    }
    &:not(.last-row) > .table-row {
      @apply border-b sm:border-b-0;
    }
    &:not(.last-row) > .table-row > * {
      @apply sm:border-b;
    }
  }

  @media (hover: hover) {
    &.hoverable .hovered-row:not(.subheader) > *,
    &.hoverable .hovered-row:not(.subheader) > .first-column-wrapper > *:not(.table-row-indent) {
      background: var(--mds-bg-table-hover);
    }
  }
}

.mx-table-cell > * {
  @apply ml-24 sm:ml-16 m-16;
}
.subheader > .first-column-wrapper > .mx-table-cell {
  @apply pl-24 sm:pl-12 p-12;
}
