body
  background: #f9f9f9;

p
  margin: 20px 0;

// Override theme's a:hover rule since it has higher specificity than ".mds .hover:no-underline"
.theme-default-content:not(.custom) a:hover
  text-decoration: none;
// Restore underline for a:hover that is not inside a .mds container
.theme-default-content:not(.custom) a:hover:not(.mds a)
  text-decoration: underline;

.front
  position: absolute;
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #fff;