.mx-radio {
  color: var(--mds-color-secondary);

  span {
    position: relative;
    z-index: 1;
    border: 1px solid var(--mds-color-secondary);

    &::before {
      position: absolute;
      content: '';
      left: -1px;
      top: -1px;
      width: 20px;
      height: 20px;
      opacity: 0;
      transform: scale(0);
      border: 1px solid var(--mds-color-primary);
      border-radius: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      width: 14px;
      height: 14px;
      background: var(--mds-color-primary);
      border-radius: 100%;
    }
  }

  input:focus-visible+span {
    outline: 1px solid var(--mds-color-primary);
  }
 
  input:checked:focus-visible+span,
  input.indeterminate:focus-visible+span {  
    background-color: var(--mds-color-primary-dark);
  }

  input:checked+span.userchecked::before {
    animation: scaleOutRadio var(--mds-animation-speed-normal) forwards;
  }
  input:checked+span.userchecked::after {
    animation: scaleInRadioMark var(--mds-animation-speed-normal) var(--mds-animation-ease-bounce) forwards;
  }

  input:checked~span {
    border-color: var(--mds-color-primary);

    &::after {
      display: block;
    }
  }

  input:disabled {
    ~span {
      border-color: var(--mds-color-secondary-medium);
    }

    ~span::after {
      background: var(--mds-color-secondary-medium);
    }

    ~.radio-label {
      color: var(--mds-color-secondary-medium);
    }
  }
}

@keyframes scaleOutRadio {
  0%{
      opacity: 0;
      transform: scale(1);
  }
  50%{
      opacity: 0.5;
  }
  100%{
      opacity: 0;
      transform: scale(1.5);
  }
}

@keyframes scaleInRadioMark {
  0%{
      opacity: 0;
      transform: scale(0);
  }
  100%{
      opacity: 1;
      transform: scale(1);
  }
  
}