.mx-radio {
  color: var(--mds-color-secondary);

  span {
    position: relative;
    z-index: 1;
    border: 1px solid var(--mds-color-secondary);

    &::before {
      display: none;
      content: '';
      position: absolute;
      top: -11px;
      left: -11px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      z-index: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 2px;
      top: 2px;
      width: 14px;
      height: 14px;
      background: var(--mds-color-primary);
      border-radius: 100%;
    }

    &:hover {
      &::before {
        display: block;
        background: var(--mds-color-primary-darkest);
        opacity: 0.04;
      }
    }

    &:active {
      &::before {
        background: var(--mds-color-primary-darkest);
        opacity: 0.12;
      }
    }
  }

  :focus-within:focus-visible {
    +span::before {
      display: block;
      background: var(--mds-color-primary-darkest);
      opacity: 0.12;
    }

    &:checked~span::before {
      background: var(--mds-color-primary);
      opacity: 0.24;
    }
  }

  input:checked~span {
    border-color: var(--mds-color-primary);

    &::after {
      display: block;
    }

    &:hover {
      &::before {
        background: var(--mds-color-primary);
        opacity: 0.08;
      }
    }

    &:active {
      &::before {
        display: block;
        background: var(--mds-color-primary);
        opacity: 0.32;
      }
    }
  }

  input:disabled {
    ~span {
      border-color: var(--mds-color-secondary-medium);
    }

    ~span::after {
      background: var(--mds-color-secondary-medium);
    }

    ~span::before,
    &:checked~span::before {
      background: transparent;
    }

    ~.radio-label {
      color: var(--mds-color-secondary-medium);
    }
  }
}