.mx-button {

  button,
  a {
    &.contained {
      background-color: var(--mds-color-primary);
      color: var(--mds-color-text-light);
      --ripple-color: var(--mds-color-white);
      transition: all var(--mds-animation-speed-quick);

      &:focus-visible {
        background: var(--mds-color-primary-dark);
      }

      &:hover:enabled{
        filter: brightness(1.4);
      }

      &:disabled,
      &[aria-disabled='true'] {
        background: var(--mds-color-secondary-light);
        color: var(--mds-color-text-disabled);
      }
    }

    &.outlined {
      border-color: var(--mds-color-primary);
      background-color: var(--mds-color-white);
      color: var(--mds-color-primary);
      --ripple-color: var(--mds-color-white);

      &:focus-visible:not(:disabled, [aria-disabled='true']) {
        background: var(--mds-color-primary-hover);
        color: var(--mds-color-text-light);
      }

      &:hover:not(:disabled, [aria-disabled='true']) {
        background: var(--mds-color-primary-hover);
        color: var(--mds-color-text-light);
      }

      &:disabled,
      &[aria-disabled='true'] {
        background: var(--mds-color-white);
        border-color: var(--mds-color-secondary-light);
        color: var(--mds-color-text-disabled);
      }
    }

    &.simple {
      color: var(--mds-color-primary-dark);
      background: var(--mds-color-white);
      border-color: var(--mds-color-secondary);
      --ripple-color: var(--mds-color-primary-light);

      &:focus-visible:not(:disabled, [aria-disabled='true']) {
        background: var(--mds-color-secondary-light);
      }

      &:hover:not(:disabled, [aria-disabled='true']) {
        background: var(--mds-color-secondary-light);
      }

      &:disabled,
      &[aria-disabled='true'] {
        background: var(--mds-color-white);
        border-color: var(--mds-color-secondary-medium);
        color: var(--mds-color-text-disabled);
      }
    }

    &.text {
      color: var(--mds-color-primary-dark);
      background: var(--mds-color-transparent);
      --ripple-color: var(--mds-color-primary-light);

      .separator {
        background: var(--mds-color-secondary-light);
      }

      &:focus-visible:not(:disabled, [aria-disabled='true']) {
        background: var(--mds-color-secondary-ultralight);

        .separator {
          background: var(--mds-color-secondary);
        }
      }

      &:hover:not(:disabled, [aria-disabled='true']) {
        .slot-content {
          text-decoration: underline;
        }
        
        .separator {
          background: var(--mds-color-secondary);
        }
      }

      &:disabled,
      &[aria-disabled='true'] {
        color: var(--mds-color-secondary-medium);
      }

      &.dropdown:not(:disabled, [aria-disabled='true']) {

        .slot-content,
        .chevron-icon {
          color: var(--mds-color-secondary);
        }
      }
    }
  }
}