.mx-checkbox {
  .checkbox-label {
    color: var(--mds-text-checkbox);
  }

  span {
    position: relative;
    z-index: 1;
    border: 0.125rem solid var(--mds-border-checkbox);
    border-radius: 0.125rem;

    &::before {
      content: '';
      position: absolute;
      top: -0.8438rem;
      left: -0.8438rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      z-index: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 0.25rem;
      top: -0.0625rem;
      width: 0.375rem;
      height: 0.75rem;
      border: solid var(--mds-border-checkbox-check);
      border-width: 0 0.125rem 0.125rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:hover {
      &::before {
        background: var(--mds-bg-checkbox-overlay-hover);
      }
    }

    &:active {
      &::before {
        background: var(--mds-bg-checkbox-overlay-active);
      }
    }
  }

  :focus-within:focus-visible {
    & + span::before {
      display: block;
      background: var(--mds-bg-checkbox-overlay-focus);
    }
    &:checked ~ span::before,
    &.indeterminate ~ span::before {
      background: var(--mds-bg-checkbox-overlay-checked-focus);
    }
  }

  input.indeterminate ~ span::after {
    content: '';
    position: absolute;
    display: none;
    left: 0.125rem;
    top: 0.375rem;
    width: 0.625rem;
    height: 0;
    border: 0;
    border-top: 0.125rem solid var(--mds-border-checkbox-check);
    transform: rotate(0deg);
  }

  input:checked ~ span,
  input.indeterminate ~ span {
    background-color: var(--mds-bg-checkbox-checked);
    border-color: var(--mds-bg-checkbox-checked);
    &::after {
      display: block;
    }

    &:hover {
      &::before {
        background: var(--mds-bg-checkbox-overlay-checked-hover);
      }
    }

    &:active {
      &::before {
        background: var(--mds-bg-checkbox-overlay-checked-active);
      }
    }
  }

  input:disabled ~ span {
    border-color: var(--mds-bg-checkbox-disabled);
    &:hover::before,
    &:active::before {
      background: transparent;
    }
  }

  input:checked:disabled ~ span,
  input.indeterminate:disabled ~ span {
    background-color: var(--mds-bg-checkbox-disabled);
  }

  input:disabled ~ .checkbox-label {
    color: var(--mds-text-checkbox-disabled);
  }
}
