.mx-date-picker {
  color: var(--mds-text-picker);

  label {
    color: var(--mds-text-picker-label);
  }

  & input[type='date'] {
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
  & > .picker-wrapper {
    color: var(--mds-text-picker);
    background: var(--mds-bg-picker);
    border-color: var(--mds-border-picker);

    .icon-wrapper {
      background: var(--mds-bg-picker);
    }

    &:hover:not(.focused, .disabled) {
      border-color: var(--mds-border-picker-hover);
    }

    &.focused {
      border-color: var(--mds-border-picker-focus);
      input,
      input:invalid:not(:disabled) {
        color: var(--mds-text-picker-focus);
      }
    }

    &.disabled {
      input,
      .menu-button {
        color: var(--mds-text-picker-disabled);
      }
    }

    label {
      background: var(--mds-bg-picker);
      transform-origin: 0 0;
      transition: transform 0.1s ease-out;
      --translate-y: -22px;
      &.dense {
        --translate-y: -16px;
      }
      &.floating {
        transform: translate3d(0, var(--translate-y), 0) scale(0.8);
      }
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    input {
      &::-webkit-calendar-picker-indicator,
      &::-webkit-clear-button {
        display: none;
        visibility: hidden;
      }
    }
  }

  &.error {
    & > .picker-wrapper,
    & > .picker-wrapper:hover:not(.focused) {
      border-color: var(--mds-border-picker-error);

      & > label,
      .calendar-button {
        color: var(--mds-text-picker-error);
      }
    }
    .assistive-text {
      color: var(--mds-text-picker-error);
    }
  }

  .icon-button {
    color: var(--mds-text-picker-icon);
  }

  /***************************
  * js-datepicker
  ***************************/

  .qs-datepicker-container {
    @apply relative w-256 min-h-240 p-16 pb-8 rounded-xl overflow-hidden z-50 select-none shadow-12;
    background: var(--mds-bg-picker);
  }

  .qs-datepicker {
    @apply flex flex-col items-center;
  }

  .qs-hidden {
    @apply hidden;
  }

  .qs-overlay {
    /* Apply a grid, so we can move Cancel button to bottom row with Confirm button */
    @apply grid absolute inset-0 transition-all;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    background: var(--mds-bg-picker);
    opacity: 1;
    transform: translateY(0);

    /* Remove wrapper (around year input and Cancel button) from grid flow */
    & > :first-child {
      @apply contents;
    }

    &.qs-hidden {
      @apply opacity-0 pointer-events-none;
      transform: translateY(-10%);
    }

    input.qs-overlay-year {
      @apply col-span-2 h-36 border m-24 mb-8 px-16 text-3 rounded-lg outline-none appearance-none;
      color: var(--mds-text-input);
      background: var(--mds-bg-input);
      border-color: var(--mds-border-input);
      caret-color: var(--mds-caret-input);
      &:focus-within {
        @apply border-2;
        padding: 0 15px;
        border-color: var(--mds-border-input-focus);
      }

      &::-webkit-inner-spin-button {
        @apply appearance-none;
      }
      &::placeholder {
        color: var(--mds-text-input-label);
      }
    }

    .qs-close {
      /* Move the Cancel button to the bottom row, and hide the default "×" */
      @apply invisible inline-flex items-center justify-end row-start-3;
      &::after {
        @apply visible;
        content: 'Cancel';
      }
    }

    .qs-submit:hover:not(.qs-disabled),
    .qs-close:hover::after {
      @apply cursor-pointer;
      background: var(--mds-bg-btn-text-hover);
    }

    .qs-close::after,
    .qs-submit {
      @apply flex items-center justify-center h-36 px-8 py-10 my-8 mr-8 uppercase rounded-lg font-semibold text-4 tracking-1-25 cursor-pointer;
      color: var(--mds-text-btn-text);
      background: var(--mds-bg-btn-text);

      &.qs-disabled {
        @apply cursor-default;
        color: var(--mds-text-btn-text-disabled);
        background: var(--mds-bg-btn-text-disabled);
      }
    }

    .qs-submit.qs-disabled {
      @apply cursor-default;
    }

    .qs-overlay-month-container {
      @apply grid grid-cols-3 grid-rows-4 col-span-2;
    }

    .qs-overlay-month {
      @apply flex items-center justify-center subtitle2 cursor-pointer;
      color: var(--mds-text-picker-calendar-label);
      &:hover {
        color: var(--mds-text-picker-calendar-month-hover);
      }
    }
  }

  .qs-controls {
    @apply flex subtitle2 w-full justify-between items-center pl-8;
  }

  .qs-arrow {
    @apply w-24 h-24 cursor-pointer;

    &:after {
      content: '';
    }

    &.qs-left {
      @apply order-2 ml-16;
      background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 7.41L10.42 12L15 16.59L13.59 18L7.59 12L13.59 6L15 7.41Z" fill="currentColor"/></svg>');
    }
    &.qs-right {
      @apply order-3 ml-24 -mr-8;
      background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.58997 16.59L13.17 12L8.58997 7.41L9.99997 6L16 12L9.99997 18L8.58997 16.59Z" fill="currentColor"/></svg>');
    }
  }

  .qs-month-year {
    @apply flex-1;
    cursor: pointer;
    &:after {
      @apply float-right w-10 h-20 bg-no-repeat bg-center ml-auto;
      content: ' ';
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.9654 0.757212C9.93099 0.681077 9.87273 0.616004 9.79798 0.57022C9.72323 0.524437 9.63535 0.5 9.54545 0.5H0.454547C0.364646 0.5 0.276763 0.524437 0.202012 0.570222C0.127262 0.616007 0.0690015 0.681082 0.0345985 0.757219C0.000195557 0.833357 -0.00880479 0.917136 0.00873577 0.997962C0.0262763 1.07879 0.0695701 1.15303 0.133142 1.2113L4.67859 5.37795C4.7208 5.41665 4.77091 5.44734 4.82605 5.46828C4.8812 5.48922 4.94031 5.5 5 5.5C5.05969 5.5 5.1188 5.48922 5.17394 5.46828C5.22909 5.44734 5.2792 5.41665 5.3214 5.37795L9.86686 1.2113C9.93043 1.15303 9.97372 1.07879 9.99126 0.997958C10.0088 0.917131 9.9998 0.833351 9.9654 0.757212Z" fill="currentColor"/></svg>');
    }
  }

  .qs-month {
    &:after {
      content: ' ';
    }
  }

  .qs-squares {
    @apply flex flex-wrap w-224;
  }

  .qs-square {
    @apply flex items-center justify-center w-28 h-28 m-2 rounded-full cursor-pointer;

    &:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active) {
      &:hover {
        background: var(--mds-bg-picker-calendar-hover);
      }
    }
  }

  .qs-current {
    @apply font-bold;
  }

  .qs-active,
  .qs-range-start,
  .qs-range-end {
    background: var(--mds-bg-picker-calendar-active);
    color: var(--mds-text-picker-calendar-active);
  }

  .qs-range-start:not(.qs-range-6) {
    @apply rounded-r-none;
  }

  .qs-range-middle {
    &:not(.qs-range-0):not(.qs-range-6) {
      @apply rounded-none;
    }

    &.qs-range-0 {
      @apply rounded-r-none;
    }

    &.qs-range-6 {
      @apply rounded-l-none;
    }
  }

  .qs-range-end:not(.qs-range-0) {
    @apply rounded-l-none;
  }

  .qs-disabled,
  .qs-outside-current-month {
    @apply opacity-20;
  }

  .qs-empty {
    @apply cursor-default;
  }

  .qs-day {
    @apply cursor-default subtitle2 my-6;
    color: var(--mds-text-picker-calendar-label);
  }

  .qs-num {
    @apply text-4;
  }
}
