.mx-switch {
  color: var(--mds-color-secondary);

  .slider {
    background-color: var(--mds-color-white);
    border: 1px solid var(--mds-color-secondary);
    -webkit-transition: 0.15s;
    transition: 0.15s;

    &:before {
      @apply shadow-1;
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: -1px;
      bottom: -4px;
      border: 1px solid var(--mds-color-secondary);
      background-color: var(--mds-color-white);
      -webkit-transition: 0.15s;
      transition: 0.15s;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &::after {
      display: none;
      content: '';
      position: absolute;
      top: -14px;
      left: -12px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      z-index: 0;
    }

    &:hover::after {
      display: block;
      background: var(--mds-color-primary-darkest);
      opacity: 0.04;
    }

    &:active::after {
      display: block;
      background: var(--mds-color-primary-darkest);
      opacity: 0.12;
    }
  }

  input:checked+.slider {
    background-color: var(--mds-color-primary-light);
  }

  :focus-within:focus-visible+.slider::after {
    display: block;
    background: var(--mds-color-primary-darkest);
    opacity: 0.12;
  }

  input:checked+.slider:active::after,
  :focus-within:focus-visible:checked+.slider::after {
    display: block;
    background: var(--mds-color-primary);
    opacity: 0.24;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(1.25rem);
    -ms-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
    background: var(--mds-color-primary);
    width: 18px;
    height: 18px;
    bottom: -3px;
    outline: 1px solid var(--mds-color-secondary);
    border: 1px solid var(--mds-color-white);
  }

  input:checked+.slider::after {
    -webkit-transform: translateX(1.25rem);
    -ms-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
    background: var(--mds-color-primary);
    opacity: 0.32;
  }

  input:checked+.slider:hover::after {
    background: var(--mds-color-primary);
    opacity: 0.08;
  }

  input:disabled {
    +.slider {
      background-color: var(--mds-color-secondary-ultralight);
      border: 1px solid var(--mds-color-secondary-medium);
    }

    +.slider:before {
      background: var(--mds-color-secondary-ultralight);
      border: 1px solid var(--mds-color-secondary-medium);
    }

    +.slider:after,
    +.slider:hover::after {
      background: var(--mds-color-transparent);
    }

    &:checked {
      +.slider {
        background: var(--mds-color-secondary-light);
      }

      +.slider:before {
        background: var(--mds-color-secondary-medium);
      }
    }

    ~.switch-label {
      color: var(--mds-color-secondary-medium);
    }
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 2.125rem;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}