.mx-switch {
  color: var(--mds-text-switch);

  .slider {
    background-color: var(--mds-bg-switch-track);
    -webkit-transition: 0.15s;
    transition: 0.15s;

    &:before {
      @apply shadow-1;
      position: absolute;
      content: '';
      height: 1.25rem;
      width: 1.25rem;
      left: -0.0625rem;
      bottom: -0.1875rem;
      background-color: var(--mds-bg-switch-thumb);
      -webkit-transition: 0.15s;
      transition: 0.15s;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &::after {
      display: none;
      content: '';
      position: absolute;
      top: -0.8125rem;
      left: -0.7188rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      z-index: 0;
    }
    &:hover::after {
      display: block;
      background: var(--mds-bg-switch-overlay-hover);
    }
    &:active::after {
      display: block;
      background: var(--mds-bg-switch-overlay-active);
    }
  }

  input:checked + .slider {
    background-color: var(--mds-bg-switch-track-checked);
  }

  :focus-within:focus-visible + .slider::after {
    display: block;
    background: var(--mds-bg-switch-overlay-focus);
  }

  input:checked + .slider:active::after,
  :focus-within:focus-visible:checked + .slider::after {
    display: block;
    background: var(--mds-bg-switch-overlay-checked-focus);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(1.25rem);
    -ms-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
    background: var(--mds-bg-switch-thumb-checked);
  }

  input:checked + .slider::after {
    -webkit-transform: translateX(1.25rem);
    -ms-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
    background: var(--mds-bg-switch-overlay-checked-active);
  }

  input:checked + .slider:hover::after {
    background: var(--mds-bg-switch-overlay-checked-hover);
  }

  input:disabled {
    & + .slider {
      background-color: var(--mds-bg-switch-track-disabled);
    }
    & + .slider:before {
      background: var(--mds-bg-switch-thumb-disabled);
    }
    & + .slider:after,
    & + .slider:hover::after {
      background: transparent;
    }
    &:checked {
      & + .slider {
        background: var(--mds-bg-switch-track-checked-disabled);
      }
      & + .slider:before {
        background: var(--mds-bg-switch-thumb-checked-disabled);
      }
    }
    & ~ .switch-label {
      color: var(--mds-text-switch-disabled);
    }
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 2.125rem;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
