.mx-switch {
  color: var(--mds-color-secondary);

  .slider {
    background-color: var(--mds-color-white);
    border: 1px solid var(--mds-color-secondary);
    width: 42px;
    height: 22px;
    -webkit-transition: 0.15s;
    transition: 0.15s;

    &::before {
      position: absolute;
      content: '';
      height: 14px;
      width: 14px;
      left: 3px;
      top: 3px;
      background-color: var(--mds-color-secondary);
      transition: left var(--mds-animation-speed-normal) var(--mds-animation-ease-bounce);

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 7px;
      top: 5px;
      width: 5px;
      height: 8px;
      border: solid var(--mds-color-white);
      border-width: 0 0.125rem 0.125rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input:checked+.slider {
    background-color: var(--mds-color-primary);
    border-color: var(--mds-color-primary);
  }

  input:focus-visible+.slider {
    filter: drop-shadow(0px 0px 5px var(--mds-color-primary-transparent));
    border-color: var(--mds-color-primary);
    &::before {
      background-color: var(--mds-color-primary);
    }
  }

  input:checked+.slider:before {
    left: 22px;
    background: var(--mds-color-white);
  }

  input:checked+.slider::after {
    display: block;
  }

  input:checked+.slider.userchecked::after {
    animation: scaleInCheckboxMark var(--mds-animation-speed-normal) var(--mds-animation-ease-bounce) forwards;
  }

  input:disabled {
    +.slider {
      background-color: var(--mds-color-secondary-ultralight);
      border: 1px solid var(--mds-color-secondary-medium);
      &::before {
        background-color: var(--mds-color-secondary-medium);
      }
      &::after {
        border-color: var(--mds-color-secondary-medium);
      }
    }

    +.slider:before {
      background: var(--mds-color-secondary-ultralight);
      border: 1px solid var(--mds-color-secondary-medium);
    }

    &:checked {
      +.slider {
        background: var(--mds-color-secondary-light);
      }

      +.slider:before {
        background: var(--mds-color-secondary-medium);
      }
    }

    ~.switch-label {
      color: var(--mds-color-secondary-medium);
    }
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 2.125rem;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

@keyframes scaleInCheckboxMark {
  0%{
      opacity: 0;
      transform: scale(0) rotate(45deg);
  }
  100%{
      opacity: 1;
      transform: scale(1) rotate(45deg);
  }
  
}