.mds .mx-icon-button>a,
.mx-icon-button>button {
  color: var(--mds-color-secondary);
  background: transparent;

  .chevron-wrapper {
    background: var(--mds-color-white);
  }

  &:focus:not(:disabled, [aria-disabled='true']) {
    background: var(--mds-bg-btn-icon-focus);

    .chevron-wrapper {
      background: var(--mds-color-secondary-light);
    }
  }

  &:hover:not(:disabled, [aria-disabled='true']) {
    background: var(--mds-color-secondary-ultralight);

    .chevron-wrapper {
      background: var(--mds-color-secondary-light);
    }
  }

  &:active:not(:disabled, [aria-disabled='true']) {
    background: var(--mds-color-secondary-light);

    .chevron-wrapper {
      background: var(--mds-color-secondary-ultralight);
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    color: var(--mds-color-secondary-medium);
    background: transparent;
  }
}