.mx-dropdown-menu>.dropdown-wrapper {
  color: var(--mds-color-secondary);
  background: var(--mds-color-white);
  border-color: var(--mds-color-secondary);

  &:not([class*='min-w-']) {
    min-width: 20.5rem;
  }

  &::placeholder {
    color: var(--mds-color-secondary-medium);
  }

  .icon-suffix {
    background: var(--mds-color-white);

    i {
      color: var(--mds-color-secondary);
    }

    .suffix {
      color: var(--mds-color-secondary);
    }
  }

  &.elevated {
    border-color: transparent;

    &:hover:not(.disabled, .focused) {
      border-color: transparent;
      background: var(--mds-color-secondary-ultralight);

      .icon-suffix {
        background: var(--mds-color-secondary-ultralight);
      }
    }

    &.focused {
      border-color: transparent;
      background: var(--mds-color-secondary-ultralight);

      .icon-suffix {
        background: var(--mds-color-secondary-ultralight);
      }
    }
  }

  &.flat {
    border-color: var(--mds-color-secondary-light);

    &:hover:not(.disabled, .focused) {
      border-color: var(--mds-color-secondary-light);
      background: var(--mds-color-secondary-ultralight);

      .icon-suffix {
        background: var(--mds-color-secondary-ultralight);
      }
    }

    &.focused {
      border-color: transparent;
      background: var(--mds-color-secondary-ultralight);

      .icon-suffix {
        background: var(--mds-color-secondary-ultralight);
      }
    }
  }

  &.error {
    border: 2px solid var(--mds-color-error);

    label,
    .icon-suffix i {
      color: var(--mds-color-error);
    }
  }

  &.assistive-text {
    color: var(--mds-color-secondary);
  }

  &.error+.assistive-text {
    color: var(--mds-color-error);
  }

  &:hover:not(.disabled, .focused) {
    border-color: var(--mds-color-primary);
  }

  &.disabled {
    color: var(--mds-color-secondary-medium);

    .icon-suffix {

      i {
        color: var(--mds-color-secondary-medium);
      }

      .suffix {
        color: var(--mds-color-secondary-medium);
      }
    }

  }

  &.focused {
    border-color: var(--mds-color-primary);
    box-shadow: 0px 0px 5px 0px rgba(0, 115, 230, 0.50);
  }
}