.mx-radio {
  span {
    position: relative;
    z-index: 1;
    border: 2px solid #5a5a5a;

    &::before {
      display: none;
      content: '';
      position: absolute;
      top: -12.5px;
      left: -12.5px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      z-index: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 3px;
      top: 3px;
      width: 10px;
      height: 10px;
      background: #0457ae;
      border-radius: 100%;
    }

    &:hover {
      &::before {
        display: block;
        background: rgba(0, 0, 0, 0.04);
      }
    }

    &:active {
      &::before {
        background: rgba(0, 0, 0, 0.12);
      }
    }
  }

  :focus-within:focus-visible {
    & + span::before {
      display: block;
      background: rgba(0, 0, 0, 0.12);
    }
    &:checked ~ span::before {
      background: rgba(4, 87, 175, 0.32);
    }
  }

  input:checked ~ span {
    &::after {
      display: block;
    }

    &:hover {
      &::before {
        background: rgba(4, 87, 175, 0.08);
      }
    }

    &:active {
      &::before {
        display: block;
        background: rgba(4, 87, 175, 0.32);
      }
    }
  }
}
