.mx-radio {
  span {
    position: relative;
    z-index: 1;
    border: 2px solid var(--mds-border-radio);

    &::before {
      display: none;
      content: '';
      position: absolute;
      top: -12.5px;
      left: -12.5px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      z-index: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 3px;
      top: 3px;
      width: 10px;
      height: 10px;
      background: var(--mds-bg-radio-checked);
      border-radius: 100%;
    }

    &:hover {
      &::before {
        display: block;
        background: var(--mds-bg-radio-overlay-hover);
      }
    }

    &:active {
      &::before {
        background: var(--mds-bg-radio-overlay-active);
      }
    }
  }

  :focus-within:focus-visible {
    & + span::before {
      display: block;
      background: var(--mds-bg-radio-overlay-focus);
    }
    &:checked ~ span::before {
      background: var(--mds-bg-radio-overlay-checked-focus);
    }
  }

  input:checked ~ span {
    &::after {
      display: block;
    }

    &:hover {
      &::before {
        background: var(--mds-bg-radio-overlay-checked-hover);
      }
    }

    &:active {
      &::before {
        display: block;
        background: var(--mds-bg-radio-overlay-checked-active);
      }
    }
  }
}
