.mx-fab > button {
  color: var(--mds-color-white);
  background: var(--mds-color-primary);
  --ripple-color: var(--mds-color-primary-light);

  &:focus {
    background: var(--mds-color-primary-hover);
  }

  &:hover {
    background: var(--mds-color-primary-hover);
  }

  &:active {
    background: var(--mds-color-primary-dark);
  }

  &.secondary {
    background: var(--mds-color-tertiary);
    --ripple-color: var(--mds-color-tertiary-light);

    &:focus {
      background: var(--mds-color-tertiary-light);
    }

    &:hover {
      background: var(--mds-color-tertiary-light);
    }

    &:active {
      background: var(--mds-color-tertiary-dark);
    }
  }
}
