.mx-banner {
  > div {
    background: var(--mds-color-tertiary);
    color: var(--mds-color-white);
    [slot='actions'] button {
      color: var(--mds-color-white);
      &:hover:not(:disabled, [aria-disabled='true']) .slot-content {
        color: var(--mds-color-white);
      }
    }
  }
  &.is-error > div {
    background: var(--mds-color-warning);
  }

  [slot='actions'] > * {
    > * {
      @apply ml-8;
    }
  }
}
