.mx-banner {
  > div {
    background: var(--mds-color-tertiary);
    color: var(--mds-color-white);
  }
  &.is-error > div {
    background: var(--mds-color-warning);
  }

  [slot='actions'] > * {
    > * {
      @apply ml-8;
    }
  }
}
