.mx-toggle-button {
  color: var(--mds-color-secondary);
  border-color: var(--mds-color-secondary-medium);
  --ripple-color: var(--mds-color-primary-light);

  .btn-toggle {
    background: var(--mds-color-white);
    outline-offset: -1px;
    transition: all var(--mds-animation-speed-quick);

    &:focus-visible:not(:disabled, [aria-disabled='true']) {
      background: var(--mds-color-secondary-light);
    }

    &:hover:not(:disabled, [aria-disabled='true']) {
      filter: brightness(0.9);
    }

    &.selected:hover:not(:disabled, [aria-disabled='true']) {
      filter: brightness(1.4);
    }

    &:disabled,
    &[aria-disabled='true'] {
      color: var(--mds-color-secondary-medium);
      background: var(--mds-color-white);
    }

    &.selected,
    &.selected:focus-visible {
      color: var(--mds-color-text-light);
      background: var(--mds-color-primary);
    }

  }
}