.mx-toggle-button {
  color: var(--mds-color-secondary);
  border-color: var(--mds-color-secondary-medium);
  --ripple-color: var(--mds-color-primary-light);

  .btn-toggle {
    background: var(--mds-color-white);
    outline-offset: -1px;

    &:focus:not(:disabled, [aria-disabled='true']) {
      background: var(--mds-color-secondary-light);
    }

    &:hover:not(:disabled, [aria-disabled='true']) {
      background: var(--mds-color-primary-light);
    }

    &:active:not(:disabled, [aria-disabled='true']) {
      background: var(--mds-color-white);
      color: var(--mds-color-primary);
    }

    &:disabled,
    &[aria-disabled='true'] {
      color: var(--mds-color-secondary-medium);
      background: var(--mds-color-white);
    }

    &.selected,
    &.selected:focus {
      color: var(--mds-color-text-light);
      background: var(--mds-color-primary);
    }
  }
}