.mx-pagination {
  color: var(--mds-color-secondary);

  & > .pagination-bg {
    background: var(--mds-color-white);
  }

  & > .simple {
    background: var(--mds-color-secondary-ultralight);
  }
}
