.mx-tooltip {
  color: var(--mds-color-white);
  background: var(--mds-color-secondary);

  &.inverted {
    color: var(--mds-color-secondary);
    background: var(--mds-color-secondary-ultralight);
  }
}