.mx-modal {
  color: var(--mds-text-modal);

  .modal-backdrop {
    background: var(--mds-bg-modal-backdrop);
  }
  .modal {
    min-width: 300px;

    .modal-header {
      background: var(--mds-bg-modal-header);
    }

    .modal-content {
      background: var(--mds-bg-modal);

      .content-card {
        background: var(--mds-bg-modal-card);
      }
    }

    .modal-footer {
      background: var(--mds-bg-modal-footer);
    }
  }

  &.modal-medium > .modal {
    max-width: 50rem; /* 800px */
    max-height: 37.5rem; /* 600px */
  }

  &.modal-large > .modal {
    /* 40px margin around modal */
    max-width: calc(100vw - 5rem);
    max-height: calc(100vh - 5rem);
  }
}
