.mx-modal {
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  .modal {
    min-width: 300px;

    .modal-header {
      background: #fefefe;
    }

    .modal-content {
      background: #f8f8f8;

      .content-card {
        background: #fff;
      }
    }

    .modal-footer {
      background: #fefefe;
    }
  }

  &.modal-medium > .modal {
    max-width: 50rem; /* 800px */
    max-height: 37.5rem; /* 600px */
  }

  &.modal-large > .modal {
    /* 40px margin around modal */
    max-width: calc(100vw - 5rem);
    max-height: calc(100vh - 5rem);
  }
}
