.mx-checkbox {
  .checkbox-label {
    color: var(--mds-color-secondary);
  }

  span {
    position: relative;
    z-index: 1;
    background-color: var(--mds-color-white);
    border: 1px solid var(--mds-color-secondary);
    border-radius: 3px;

    &::before {
      position: absolute;
      content: '';
      left: -2px;
      top: -2px;
      width: 20px;
      height: 20px;
      opacity: 0;
      transform: scale(0);
      border: 1px solid var(--mds-color-primary);
      border-radius: 3px;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 5px;
      top: 3px;
      width: 5px;
      height: 8px;
      border: solid var(--mds-color-white);
      border-width: 0 0.125rem 0.125rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
 }
 
  input:focus-visible+span {
    filter: drop-shadow(0px 0px 5px var(--mds-color-primary-transparent));
    border-color: var(--mds-color-primary);
  }

  input.indeterminate~span::after {
    content: '';
    position: absolute;
    display: none;
    left: 4px;
    top: 7px;
    width: 8px;
    height: 0;
    border: 0;
    border-top: 0.125rem solid var(--mds-color-white);
    transform: rotate(0deg);
  }

  input+span.userchecked::before {
    animation: scaleOutCheckbox var(--mds-animation-speed-normal) forwards;
  }
  input:checked+span.userchecked::after {
    animation: scaleInCheckboxMark var(--mds-animation-speed-normal) var(--mds-animation-ease-bounce) forwards;
  }

  input:checked~span,
  input.indeterminate~span {
    background-color: var(--mds-color-primary);
    border-color: var(--mds-color-primary);

    &::after {
      display: block;
    }
  }

  input:disabled~span {
    border-color: var(--mds-color-secondary-medium);

    &:hover::before,
    &:active::before {
      background: var(--mds-color-transparent);
    }
  }

  input:checked:disabled~span,
  input.indeterminate:disabled~span {
    background-color: var(--mds-color-secondary-medium);
  }

  input:disabled~.checkbox-label {
    color: var(--mds-color-secondary-medium);
  }
}

@keyframes scaleOutCheckbox {
  0%{
      opacity: 0;
      transform: scale(1);
  }
  50%{
      opacity: 0.5;
  }
  100%{
      opacity: 0;
      transform: scale(1.5);
  }
}

@keyframes scaleInCheckboxMark {
  0%{
      opacity: 0;
      transform: scale(0) rotate(45deg);
  }
  100%{
      opacity: 1;
      transform: scale(1) rotate(45deg);
  }
  
}