.mx-checkbox {
  .checkbox-label {
    color: var(--mds-color-secondary);
  }

  span {
    position: relative;
    z-index: 1;
    border: 1px solid var(--mds-color-secondary);
    border-radius: 3px;

    &::before {
      content: '';
      position: absolute;
      top: -12px;
      left: -12px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      z-index: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 5px;
      top: 3px;
      width: 5px;
      height: 8px;
      border: solid var(--mds-color-white);
      border-width: 0 0.125rem 0.125rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:hover {
      &::before {
        background: var(--mds-color-primary-darkest);
        opacity: 0.04;
      }
    }

    &:active {
      &::before {
        background: var(--mds-color-primary-darkest);
        opacity: 0.12;
      }
    }
  }

  :focus-within:focus-visible {
    &+span::before {
      display: block;
      background: var(--mds-color-primary-darkest);
      opacity: 0.04;
    }

    &:checked~span::before,
    &.indeterminate~span::before {
      background: var(--mds-color-primary);
      opacity: 0.24;
    }
  }

  input.indeterminate~span::after {
    content: '';
    position: absolute;
    display: none;
    left: 4px;
    top: 7px;
    width: 8px;
    height: 0;
    border: 0;
    border-top: 0.125rem solid var(--mds-color-white);
    transform: rotate(0deg);
  }

  input:checked~span,
  input.indeterminate~span {
    background-color: var(--mds-color-primary);
    border-color: var(--mds-color-primary);

    &::after {
      display: block;
    }

    &:hover {
      &::before {
        background: var(--mds-color-primary);
        opacity: 0.08;
      }
    }

    &:active {
      &::before {
        background: var(--mds-color-primary);
        opacity: 0.32;
      }
    }
  }

  input:disabled~span {
    border-color: var(--mds-color-secondary-medium);

    &:hover::before,
    &:active::before {
      background: transparent;
    }
  }

  input:checked:disabled~span,
  input.indeterminate:disabled~span {
    background-color: var(--mds-color-secondary-medium);
  }

  input:disabled~.checkbox-label {
    color: var(--mds-color-secondary-medium);
  }
}