mc-modal-menu nav {
  background-color: var(--mc-bg-modal-menu);
  header {
    color: var(--mc-text-modal-menu-header);
  }
  a {
    color: var(--mc-text-modal-menu-item) !important;
    &.active {
      background-color: var(--mc-bg-modal-menu-item-active);     
      color: var(--mc-text-modal-menu-item-active) !important;
    }
  }
}