* {
  --mds-dark-txt-primary: #111827;
  --mds-light-txt-primary: #fff;
  --mds-dark-bg-primary: #0457af;
  --mds-light-bg-primary: #e1f5ff;
  --mds-dark-bg-secondary: #00696b;
  --mds-light-bg-secondary: ##edfffc;
}
