:root {
  /* Global Utility Variables */

  --mds-bg-primary-inverted: #0457af;
  --mds-bg-primary: #e1f5ff;
  --mds-bg-secondary-inverted: #edfffc;
  --mds-bg-secondary: #00696b;
  --mds-bg-gray-inverted: #e8e8e8;
  --mds-bg-gray: #fafafa;

  --mds-text-primary: #111827;
  --mds-text-primary-inverted: #fff;

  /* Component Variables */

  /* #region buttons */
  /* Contained Buttons */
  --mds-bg-btn-contained-active: #0457af;
  --mds-bg-btn-contained-disabled: #a4a4a4;
  --mds-bg-btn-contained-focus: #3874ba;
  --mds-bg-btn-contained-hover: #0457af;
  --mds-bg-btn-contained: #0457af;
  --mds-ripple-btn-contained: rgba(255, 255, 255, 0.32);
  --mds-text-btn-contained-disabled: #747474;
  --mds-text-btn-contained: #fff;

  /* Outline Buttons */
  --mds-bg-btn-outlined-active: #fff;
  --mds-bg-btn-outlined-disabled: #fcfcfc;
  --mds-bg-btn-outlined-focus: #dedede;
  --mds-bg-btn-outlined-hover: #eeeeee;
  --mds-bg-btn-outlined: #fff;
  --mds-border-btn-outlined-disabled: #f3f3f3;
  --mds-border-btn-outlined: #e7e7e7;
  --mds-ripple-btn-outlined: rgba(51, 51, 51, 0.12);
  --mds-text-btn-outlined-disabled: #a7a7a7;
  --mds-text-btn-outlined: #2d2d2d;

  /* Action Buttons */
  --mds-bg-btn-action-active: #fff;
  --mds-bg-btn-action-disabled: #fcfcfc;
  --mds-bg-btn-action-focus: #d7d7d7;
  --mds-bg-btn-action-hover: #eeeeee;
  --mds-bg-btn-action: #fff;
  --mds-border-btn-action-disabled: #f2f2f2;
  --mds-border-btn-action: #e7e7e7;
  --mds-ripple-btn-action: rgba(0, 0, 0, 0.12);
  --mds-text-btn-action-disabled: #909090;
  --mds-text-btn-action: #2d2d2d;

  /* Text Buttons */
  --mds-bg-btn-text-active: transparent;
  --mds-bg-btn-text-disabled: transparent;
  --mds-bg-btn-text-dropdown-separator-focus: #8aafd8;
  --mds-bg-btn-text-dropdown-separator-hover: #d4e2f1;
  --mds-bg-btn-text-dropdown-separator: #e7e7e7;
  --mds-bg-btn-text-focus: #bbd1e9;
  --mds-bg-btn-text-hover: #e8f0f8;
  --mds-bg-btn-text: transparent;
  --mds-ripple-btn-text: rgba(4, 87, 175, 0.16);
  --mds-text-btn-text-disabled: #a4a4a4;
  --mds-text-btn-text-dropdown: #2d2d2d; /* Dropdown text buttons use a different text color */
  --mds-text-btn-text: #0457af;

  /* Icon Buttons */
  --mds-bg-btn-icon-active: #d7d7d7;
  --mds-bg-btn-icon-disabled: transparent;
  --mds-bg-btn-icon-dropdown-active: #dcdcdc;
  --mds-bg-btn-icon-dropdown-focus: #dcdcdc;
  --mds-bg-btn-icon-dropdown-hover: #f3f3f3;
  --mds-bg-btn-icon-dropdown: #fff;
  --mds-bg-btn-icon-focus: #d7d7d7;
  --mds-bg-btn-icon-hover: #eeeeee;
  --mds-bg-btn-icon: transparent;
  --mds-text-btn-icon-disabled: #b5b5b5;
  --mds-text-btn-icon: #434343;

  /* Toggle Buttons */
  --mds-bg-btn-toggle-active: #fff;
  --mds-bg-btn-toggle-disabled: #fff;
  --mds-bg-btn-toggle-focus: #dcdcdc;
  --mds-bg-btn-toggle-hover: #eeeeee;
  --mds-bg-btn-toggle-selected: #dde8f4;
  --mds-bg-btn-toggle: #fff;
  --mds-border-btn-toggle: #bcbcbc;
  --mds-ripple-btn-toggle: rgba(4, 87, 175, 0.16);
  --mds-text-btn-toggle-active: #0457af;
  --mds-text-btn-toggle-disabled: #a9a9a9;
  --mds-text-btn-toggle: #434343;
  /* #endregion buttons */

  /* #region fabs */
  /* FABs */
  --mds-bg-fab-active: #0457af;
  --mds-bg-fab-focus: #4e80bd;
  --mds-bg-fab-hover: #2d65af;
  --mds-bg-fab-secondary-active: #00696b;
  --mds-bg-fab-secondary-focus: #3c7a7c;
  --mds-bg-fab-secondary-hover: #357476;
  --mds-bg-fab-secondary: #00696b;
  --mds-bg-fab: #0457af;
  --mds-ripple-fab: rgb(255, 255, 255, 0.32);
  --mds-text-fab: #fff;
  /* #endregion fabs */

  /* #region inputs */
  /* Text Inputs & Textareas */
  --mds-bg-input: #fff;
  --mds-border-input-error: #ff0c3e;
  --mds-border-input-focus: #0457af;
  --mds-border-input: #a9a9a9;
  --mds-text-input-assistive: #787878;
  --mds-text-input-error: #ff0c3e;
  --mds-text-input-label: #7a7a7a;
  --mds-text-input: #454545;
  /* #endregion inputs */

  /* #region dropdowns */
  /* Selects */
  --mds-bg-select: #fff;
  --mds-border-select-elevated: transparent;
  --mds-border-select-error: #ff0c3e;
  --mds-border-select-flat: #eaeaea;
  --mds-border-select-focus: #0457af;
  --mds-border-select-hover: #2d2d2d;
  --mds-border-select: #a9a9a9;
  --mds-text-select-assistive: #787878;
  --mds-text-select-disabled: #a9a9a9;
  --mds-text-select-error: #ff0c3e;
  --mds-text-select-label: #7a7a7a;
  --mds-text-select: #454545;
  /* #endregion dropdowns */

  /* #region selection-controls */
  /* Radio Buttons */
  --mds-bg-radio-checked: #0457af;
  --mds-bg-radio-overlay-active: rgba(0, 0, 0, 0.12);
  --mds-bg-radio-overlay-checked-active: rgba(4, 87, 175, 0.32);
  --mds-bg-radio-overlay-checked-focus: rgba(4, 87, 175, 0.24);
  --mds-bg-radio-overlay-checked-hover: rgba(4, 87, 175, 0.08);
  --mds-bg-radio-overlay-focus: rgba(0, 0, 0, 0.12);
  --mds-bg-radio-overlay-hover: rgba(0, 0, 0, 0.04);
  --mds-border-radio: #505050;

  /* Switches */
  --mds-bg-switch-overlay-active: rgba(0, 0, 0, 0.12);
  --mds-bg-switch-overlay-checked-active: rgba(4, 87, 175, 0.32);
  --mds-bg-switch-overlay-checked-focus: rgba(4, 87, 175, 0.24);
  --mds-bg-switch-overlay-checked-hover: rgba(4, 87, 175, 0.08);
  --mds-bg-switch-overlay-focus: rgba(0, 0, 0, 0.12);
  --mds-bg-switch-overlay-hover: rgba(0, 0, 0, 0.04);
  --mds-bg-switch-thumb-checked: #0457af;
  --mds-bg-switch-thumb: #fff;
  --mds-bg-switch-track-checked: #abc6e2;
  --mds-bg-switch-track: #b9b9b9;

  /* Checkboxes */
  --mds-bg-checkbox-checked: #0457af;
  --mds-bg-checkbox-overlay-active: rgba(0, 0, 0, 0.12);
  --mds-bg-checkbox-overlay-checked-active: rgba(4, 87, 175, 0.32);
  --mds-bg-checkbox-overlay-checked-focus: rgba(4, 87, 175, 0.24);
  --mds-bg-checkbox-overlay-checked-hover: rgba(4, 87, 175, 0.08);
  --mds-bg-checkbox-overlay-focus: rgba(0, 0, 0, 0.12);
  --mds-bg-checkbox-overlay-hover: rgba(0, 0, 0, 0.04);
  --mds-border-checkbox-check: #fff;
  --mds-border-checkbox: #505050;
  /* #endregion selection-controls */

  /* #region tabs */
  /* Tabs */
  --mds-bg-tab-active: transparent;
  --mds-bg-tab-focus: #d7d7d7;
  --mds-bg-tab-hover: #eeeeee;
  --mds-bg-tab-indicator: #0457af;
  --mds-bg-tab-selected-focus: #d7e2ef;
  --mds-bg-tab-selected-hover: #eef1f6;
  --mds-bg-tab: transparent;
  --mds-border-tab-active: #b9b9b9;
  --mds-border-tab-focus: #b9b9b9;
  --mds-border-tab-hover: #b9b9b9;
  --mds-border-tab: transparent;
  --mds-ripple-tab: rgba(4, 87, 175, 0.16);
  --mds-text-tab-active: #0457af;
  --mds-text-tab-icon-only: #a4a4a4;
  --mds-text-tab-icon: #505050;
  --mds-text-tab-selected: #0457af;
  --mds-text-tab: #434343;
  /* #endregion tabs */
}
