.mx-chip > div {
  color: var(--mds-color-white);
  background: var(--mds-color-secondary);
  --ripple-color: var(--mds-color-secondary-medium);
  transform: translateZ(0); /* HACK: Fix Safari ripple extending outside border radius */

  &[aria-checked='true'] {
    background: var(--mds-color-primary);
    &.choice {
      color: var(--mds-color-white);
    }
    &.filter {
      background: var(--mds-color-primary);
    }
  }

  &.clickable {
    &:focus:not([aria-disabled='true'], [aria-checked='true']) {
      background: var(--mds-color-secondary-medium);
    }

    &:hover:not([aria-disabled='true']) {
      background: var(--mds-color-secondary-medium);
    }

    &:active:not([aria-disabled='true']) {
      background: var(--mds-color-secondary);
      @apply shadow-8 -translate-y-1;
    }
  }

  &[aria-disabled='true'] {
    background: var(--mds-color-secondary-medium);
    color: var(--mds-color-white);
    .left-icon,
    + .remove,
    + .remove:hover,
    + .remove:focus {
      opacity: 0.24;
      cursor: initial;
    }
  }

  .check {
    background: var(--mds-color-primary);
    color: var(--mds-color-white);
  }

  &.filter {
    .check {
      background: var(--mds-color-primary-dark);
    }
  }

  + .remove {
    color: var(--mds-color-secondary-light);
    opacity: 0.64;
    outline-offset: -4px;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &.outlined {
    color: var(--mds-color-secondary);
    background: var(--mds-color-white);
    border-color: var(--mds-color-secondary-light);
    --ripple-color: var(--mds-color-secondary-ultralight);

    &[aria-checked='true'] {
      background: var(--mds-color-secondary-light);
      &.choice {
        background: var(--mds-color-primary);
        border-color: var(--mds-color-secondary-light);
      }
      &.filter {
        background: var(--mds-bg-chip-filter-selected);
      }
    }

    &.clickable {
      &:focus:not([aria-disabled='true'], [aria-checked='true']) {
        background: var(--mds-color-secondary-ultralight);
      }

      &:hover:not([aria-disabled='true']) {
        background: var(--mds-color-secondary-ultralight);
      }

      &:active:not([aria-disabled='true']) {
        background: var(--mds-color-secondary-medium);
      }
    }

    &.filter {
      .check {
        background: var(--mds-color-primary);
      }
    }
    
    + .remove {
      color: var(--mds-color-secondary-medium);
      opacity: 0.64;
      outline-offset: -4px;
  
      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    &[aria-disabled='true'] {
      background: var(--mds-color-secondary-ultralight);
      border-color: var(--mds-color-secondary-light);
      color: var(--mds-color-secondary-medium);
    }
  }
}
