.mx-icon-button > * {
  color: var(--mds-text-btn-icon);
  background: var(--mds-bg-btn-icon);

  .chevron-wrapper {
    background: var(--mds-bg-btn-icon-chevron);
  }

  &:focus:not(:disabled, [aria-disabled='true']) {
    background: var(--mds-bg-btn-icon-focus);
    .chevron-wrapper {
      background: var(--mds-bg-btn-icon-chevron-focus);
    }
  }

  &:hover:not(:disabled, [aria-disabled='true']) {
    background: var(--mds-bg-btn-icon-hover);
    .chevron-wrapper {
      background: var(--mds-bg-btn-icon-chevron-hover);
    }
  }

  &:active:not(:disabled, [aria-disabled='true']) {
    background: var(--mds-bg-btn-icon-active);
    .chevron-wrapper {
      background: var(--mds-bg-btn-icon-chevron-active);
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    color: var(--mds-text-btn-icon-disabled);
    background: var(--mds-bg-btn-icon-disabled);
  }
}
