/***************************
* CSS Variables
***************************/
@import './variables/index.scss';

/***************************
* Import Font
***************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

/***************************
* Import Tailwind helpers
***************************/
@import './base.scss'; /* Scoped to .mds */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/***************************
* Mercury components
***************************/
@import '../components/mc-button/mc-button.scss';
@import '../components/mc-input/mc-input.scss';

/***************************
* Import Component CSS
***************************/
@import './mx-input/index.scss';
@import './mx-confirm-input/index.scss';
@import './mx-search/index.scss';
@import './mx-button/index.scss';
@import './mx-icon-button/index.scss';
@import './mx-toggle-button/index.scss';
@import './mx-chip/index.scss';
@import './mx-fab/index.scss';
@import './mx-checkbox/index.scss';
@import './mx-radio/index.scss';
@import './mx-switch/index.scss';
@import './mx-tooltip/index.scss';
@import './mx-circular-progress/index.scss';
@import './mx-linear-progress/index.scss';
@import './mx-tab/index.scss';
@import './mx-select/index.scss';
@import './mx-dropdown-menu/index.scss';
@import './mx-menu/index.scss';
@import './mx-menu-item/index.scss';
@import './mx-date-picker/index.scss';
@import './mx-time-picker/index.scss';
@import './mx-page-header/index.scss';
@import './mx-banner/index.scss';
@import './mx-dialog/index.scss';
@import './mx-modal/index.scss';
@import './mx-table/index.scss';
@import './mx-pagination/index.scss';
@import './mx-snackbar/index.scss';
@import './mx-image-upload/index.scss';
@import './mx-code/index.scss';

@import './icons.scss';
@import './ripple.scss';

/***************************
* Custom CSS
***************************/
.mds {
  *:not(code, code *) {
    font-family: 'Roboto', sans-serif;
  }

  :focus:not(:focus-visible) {
    /* Only show focus outline when tabbing with keyboard */
    outline: none;
  }

  a {
    color: var(--mds-text-link);
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  /***************************
  * Typography
  ***************************/
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5 {
    @apply text-h5;
  }
  h6 {
    @apply text-h6;
  }
  p {
    @apply my-24;
  }

  @layer utilities {
    .text-h1 {
      font-size: 3.5rem;
      letter-spacing: -0.5px;
      font-weight: bold;
      line-height: 4.5rem;
      &:not(.my-0) {
        @apply mb-24;
      }
    }
    .text-h1.xl {
      font-size: 6rem;
      letter-spacing: -1.5px;
      font-weight: bold;
      line-height: 7.5rem;
      &:not(.my-0) {
        @apply mb-24;
      }
    }
    .text-h2 {
      font-size: 3rem;
      letter-spacing: 0;
      font-weight: 600;
      line-height: 4rem;
      &:not(.my-0) {
        @apply my-24;
      }
    }
    .text-h3 {
      font-size: 2.5rem;
      letter-spacing: 0.25px;
      line-height: 3.5rem;
      font-weight: normal;
      &:not(.my-0) {
        @apply my-24;
      }
    }
    .text-h3.emphasis {
      font-size: 2.5rem;
      letter-spacing: 0.25px;
      line-height: 3.5rem;
      font-weight: bold;
      &:not(.my-0) {
        @apply my-24;
      }
    }
    .text-h4 {
      font-size: 2.25rem;
      letter-spacing: 0.25px;
      line-height: 3.5rem;
      font-weight: normal;
      &:not(.my-0) {
        @apply my-24;
      }
    }
    .text-h4.emphasis {
      font-size: 2.25rem;
      letter-spacing: 0.25px;
      line-height: 3.5rem;
      font-weight: 600;
      &:not(.my-0) {
        @apply my-24;
      }
    }
    .text-h5 {
      font-size: 1.5rem;
      letter-spacing: 0;
      line-height: 2.5rem;
      font-weight: normal;
      &:not(.my-0) {
        @apply my-24;
      }
    }
    .text-h5.emphasis {
      font-size: 1.5rem;
      letter-spacing: 0;
      line-height: 2.5rem;
      font-weight: 800;
      &:not(.my-0) {
        @apply my-24;
      }
    }
    .text-h6 {
      font-size: 1.125rem;
      letter-spacing: 0.25px;
      line-height: 1.5rem;
      font-weight: normal;
      &:not(.my-0) {
        @apply my-24;
      }
    }
    .text-h6.emphasis {
      font-size: 1.125rem;
      letter-spacing: 0.25px;
      line-height: 1.5rem;
      font-weight: bold;
      &:not(.my-0) {
        @apply my-24;
      }
    }
    .subtitle1 {
      @apply text-3 tracking-0-15 leading-6 font-semibold;
    }
    .subtitle2 {
      @apply text-4 tracking-0-4 leading-5 font-semibold;
    }
    .subtitle3 {
      @apply text-4 tracking-0-4 leading-5 font-extrabold;
    }
    .subtitle4 {
      font-size: 0.75rem;
      @apply tracking-0-4 leading-4 font-semibold;
    }
    .subtitle5 {
      font-size: 0.625rem;
      @apply tracking-0-3 leading-4 font-bold;
    }
    .caption1 {
      font-size: 0.75rem;
      @apply tracking-0-3 leading-4;
    }
    .caption2 {
      font-size: 0.625rem;
      @apply tracking-0-3 leading-4;
    }
    .overline1 {
      @apply text-2 tracking-1-5 leading-6 font-semibold uppercase;
    }
    .overline2 {
      font-size: 0.75rem;
      @apply tracking-1-5 leading-4 font-normal uppercase;
    }
  }
}
