/***************************
* CSS Variables
***************************/
@import './variables/index.scss';

/***************************
* Import Font
***************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

/***************************
* Import Tailwind helpers
***************************/
@import './base.scss'; /* Scoped to .mds */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/***************************
* Mercury components
***************************/
@import '../components/mc-button/mc-button.scss';
@import '../components/mc-input/mc-input.scss';

/***************************
* Import Component CSS
***************************/
@import './mx-input/index.scss';
@import './mx-confirm-input/index.scss';
@import './mx-search/index.scss';
@import './mx-button/index.scss';
@import './mx-icon-button/index.scss';
@import './mx-toggle-button/index.scss';
@import './mx-chip/index.scss';
@import './mx-fab/index.scss';
@import './mx-checkbox/index.scss';
@import './mx-radio/index.scss';
@import './mx-switch/index.scss';
@import './mx-tooltip/index.scss';
@import './mx-circular-progress/index.scss';
@import './mx-linear-progress/index.scss';
@import './mx-tab/index.scss';
@import './mx-select/index.scss';
@import './mx-dropdown-menu/index.scss';
@import './mx-menu/index.scss';
@import './mx-menu-item/index.scss';
@import './mx-date-picker/index.scss';
@import './mx-time-picker/index.scss';
@import './mx-page-header/index.scss';
@import './mx-banner/index.scss';
@import './mx-dialog/index.scss';
@import './mx-modal/index.scss';
@import './mx-table/index.scss';
@import './mx-pagination/index.scss';
@import './mx-snackbar/index.scss';
@import './mx-image-upload/index.scss';
@import './mx-code/index.scss';

@import './icons.scss';
@import './ripple.scss';

/***************************
* Custom CSS
***************************/
.mds {
  *:not(code, code *) {
    font-family: 'Roboto', sans-serif;
  }

  :focus:not(:focus-visible) {
    /* Only show focus outline when tabbing with keyboard */
    outline: none;
  }

  a {
    color: var(--mds-text-link);
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  /***************************
  * Typography
  ***************************/
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3; /* DEPRECATED */
  }
  h4 {
    @apply text-h4; /* DEPRECATED */
  }
  h5 {
    @apply text-h5; /* DEPRECATED */
  }
  h6 {
    @apply text-h6; /* DEPRECATED */
  }
  p {
    @apply my-24;
  }
}

@layer utilities {
  .text-h1 {
    font-size: 2.5rem; /* 40px */
    line-height: 3rem; /* 48px */
    font-weight: 300;
  }
  .text-h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.75rem; /* 28px */
  }
  .text-subtitle {
    font-size: 1rem; /* 16px */
    line-height: 1.25rem; /* 20px */
    font-weight: 500;
  }
  .text-subtitle.font-bold {
    font-weight: 700;
  }
  .text-body1 {
    font-size: 0.875rem; /* 14px */
    line-height: 1.5rem; /* 24px */
  }
  .text-body2 {
    font-size: 0.75rem; /* 12px */
    line-height: 0.875rem; /* 14px */
  }
  .text-body3 {
    font-size: 0.6875rem; /* 11px */
    line-height: 1.0625rem; /* 17px */
    letter-spacing: 0.00625rem; /* 0.1px */
    font-weight: 700;
  }
  .text-nav {
    font-size: 0.875rem; /* 14px */
    line-height: 1.375rem; /* 22px */
    letter-spacing: 0.02125rem; /* 0.34px */
    font-weight: 700;
  }
  .text-label {
    font-size: 0.75rem; /* 12px */
    line-height: 0.875rem; /* 14px */
    letter-spacing: 0.02125rem; /* 0.34px */
    font-weight: 700;
  }
  .text-placeholder {
    font-size: 0.875rem; /* 14px */
    line-height: 1rem; /* 16px */
    letter-spacing: 0.025rem; /* 0.4px */
  }
  .text-button {
    font-size: 0.75rem; /* 12px */
    line-height: 0.875rem; /* 14px */
    font-weight: 700;
  }
  .text-link {
    font-size: 0.75rem; /* 12px */
    line-height: 0.875rem; /* 14px */
    font-weight: 700;
  }
  /* DEPRECATED - The rest of the utilities are only for the old components */
  /* The --deprecated custom property excludes them from generated docs */
  .text-1,
  .text-2 {
    --deprecated: 1;
    @apply text-subtitle;
  }
  .text-3,
  .text-4 {
    --deprecated: 1;
    @apply text-body1;
  }
  .text-h3 {
    --deprecated: 1;
    @apply text-h1 font-normal;
  }
  .text-h3.emphasis {
    --deprecated: 1;
    @apply text-h1 font-bold;
  }
  .text-h4 {
    --deprecated: 1;
    @apply text-h1 font-normal;
  }
  .text-h4.emphasis {
    --deprecated: 1;
    @apply text-h1 font-bold;
  }
  .text-h5 {
    --deprecated: 1;
    @apply text-h2 font-normal;
  }
  .text-h5.emphasis {
    --deprecated: 1;
    @apply text-h2 font-bold;
  }
  .text-h6 {
    --deprecated: 1;
    @apply text-subtitle;
  }
  .text-h6.emphasis {
    --deprecated: 1;
    @apply text-subtitle font-bold;
  }
  .subtitle1 {
    --deprecated: 1;
    @apply text-body3;
  }
  .subtitle2 {
    --deprecated: 1;
    @apply text-label;
  }
  .subtitle3 {
    --deprecated: 1;
    @apply text-body1 font-bold;
  }
  .subtitle4 {
    --deprecated: 1;
    @apply text-body2;
  }
  .subtitle5 {
    --deprecated: 1;
    @apply text-body3;
  }
  .caption1 {
    --deprecated: 1;
    @apply text-body2;
  }
  .caption2 {
    --deprecated: 1;
    @apply text-body3;
  }
  .overline1,
  .overline2 {
    --deprecated: 1;
    @apply text-nav;
  }
}
