/***************************
* CSS Variables
***************************/
@import './variables/index.scss';

/***************************
* Import Font
***************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

/***************************
* Import Tailwind helpers
***************************/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/***************************
* Import Component CSS
***************************/
@import './mx-input/index.scss';
@import './mx-button/index.scss';

/***************************
* Custom CSS
***************************/
.mds {
  * {
    font-family: 'Open Sans', sans-serif;
  }
  h1.xl {
    font-size: 6rem;
    letter-spacing: -1.5px;
    font-weight: bold;
    line-height: 7.5rem;
  }

  h1 {
    font-size: 3.75rem;
    letter-spacing: -0.5px;
    font-weight: bold;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 64px;
    font-weight: 600;
    line-height: 4rem;
  }

  h3.emphasis {
    font-size: 2.5rem;
    letter-spacing: 0.25px;
    line-height: 3.5rem;
    font-weight: bold;
  }

  h3 {
    font-size: 2.5rem;
    letter-spacing: 0.25px;
    line-height: 3.5rem;
    font-weight: normal;
  }

  h4.emphasis {
    font-size: 2.25rem;
    letter-spacing: 0.25px;
    line-height: 3.5rem;
    font-weight: 600;
  }

  h4 {
    font-size: 2.25rem;
    letter-spacing: 0.25px;
    line-height: 3.5rem;
    font-weight: normal;
  }

  h5.emphasis {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 800;
  }

  h5 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: normal;
  }

  h6.emphasis {
    font-size: 1.125rem;
    letter-spacing: 0.25px;
    line-height: 1.5rem;
    font-weight: bold;
  }

  h6 {
    font-size: 1.125rem;
    letter-spacing: 0.25px;
    line-height: 1.5rem;
    font-weight: normal;
  }

  .subtitle1 {
    @apply text-base tracking-0-5 leading-6 font-semibold;
  }

  .subtitle2 {
    @apply text-sm tracking-0-4 leading-5 font-semibold;
  }

  .subtitle3 {
    @apply text-sm tracking-0-5 leading-5 font-extrabold;
  }

  .subtitle4 {
    @apply text-xs tracking-0-5 leading-4 font-semibold;
  }

  .subtitle5 {
    @apply text-xxs tracking-0-5 leading-4 font-bold;
  }

  .caption1 {
    @apply text-xs tracking-0-3 leading-4;
  }

  .caption2 {
    @apply text-xxs tracking-0-3 leading-4;
  }

  .overline1 {
    @apply text-lg tracking-1-5 leading-6 font-semibold uppercase;
  }

  .overline2 {
    @apply text-xs tracking-1-5 leading-4 font-normal uppercase;
  }
}
