.mx-table {
  color: var(--mds-color-secondary);

  [slot='search'] {
    @media (min-width: 640px) {
      min-width: 15rem;
    }
  }

  [slot='filter'] {
    @apply max-w-full;

    >* {
      @apply max-w-full;
    }
  }

  .table-grid>*:not(.hidden) {
    /* Only place table cell elements into the grid (not row elements). */
    @apply contents;
  }

  .header-row>* {
    background: var(--mds-color-secondary-ultralight);
    border-color: var(--mds-color-secondary-light);
    @apply border-b;

    &:first-child {
      @apply pl-24 rounded-tl;
    }

    &:last-child {
      @apply sm:pr-24 rounded-tr;
    }
  }

  .mx-table-row>.table-row>*,
  .first-column-wrapper>*,
  .empty-state>*,
  .table-footer>* {
    background: var(--mds-color-white);
  }

  .mx-table-row>.table-row.subheader>*,
  .table-row.subheader>.first-column-wrapper>* {
    background: var(--mds-color-secondary-light);
    color: var(--mds-color-primary);
  }

  .empty-state,
  .table-footer {
    &:last-child {
      > :first-child {
        @apply rounded-bl;
      }
      > :last-child {
        @apply rounded-br;
      }
    }

    &:not(:last-child)>* {
      @apply border-b;
    }
  }

  .mx-table-row {
    >.table-row {
      border-color: var(--mds-color-secondary-light);
      will-change: max-height;
      /* Makes collapse/expand smoother. */

      > :last-child:not(.pr-0, .p-0) {
        @apply sm:pr-24;
      }

      >*>.mx-table-row {
        &:first-of-type {
          @apply border-t sm:border-t-0;
        }

        &:last-of-type {
          @apply border-b-0;
        }
      }

      &:focus-within>*,
      &:focus-within>.first-column-wrapper>*:not(.table-row-indent) {
        background: var(--mds-color-secondary-ultralight);
      }

      .first-column-wrapper> :nth-child(2):not(.mx-table-cell),
      .first-column-wrapper> :nth-child(2).mx-table-cell>div {
        @apply pl-24;
      }

      .mobile-row-chevron,
      .subheader-chevron {
        color: var(--mds-color-primary);
        transition: transform 0.15s ease;
      }

      &.mobile-collapsed {

        .mx-table-cell:not(.exposed-cell),
        .action-cell {
          @apply sr-only;
        }
      }

      &.checkable-row .exposed-cell {
        @apply pl-16;
      }

      .table-row-indent {
        background: var(--mds-color-secondary-ultralight);
      }

      .drag-handle {
        color: var(--mds-color-secondary-medium);
      }
    }

    &.last-row > .table-row {
      @apply rounded-b;

      > :first-child {
        @apply sm:rounded-bl;
      }
      > :last-child {
        @apply sm:rounded-br;
      }
    }

    &:not(.last-row)>.table-row {
      @apply border-b sm:border-b-0;
    }

    &:not(.last-row)>.table-row>* {
      @apply sm:border-b;
    }
  }

  @media (hover: hover) {

    &.hoverable .hovered-row:not(.subheader)>*,
    &.hoverable .hovered-row:not(.subheader)>.first-column-wrapper>*:not(.table-row-indent) {
      background: var(--mds-color-secondary-ultralight);
    }
  }
}

.mx-table-cell>div {
  @apply pl-24 sm:pl-16 p-16;
}

.subheader>.first-column-wrapper>.mx-table-cell>div {
  @apply pl-24 sm:pl-12 p-12;
}