.mx-button {
  button,
  a {
    &.contained {
      background-color: var(--mds-bg-btn-contained);
      color: var(--mds-text-btn-contained);
      --ripple-color: var(--mds-ripple-btn-contained);

      &:focus {
        background: var(--mds-bg-btn-contained-focus);
      }

      &:hover {
        background: var(--mds-bg-btn-contained-hover);
      }

      &:active {
        background: var(--mds-bg-btn-contained-active);
      }

      &[aria-disabled='true'] {
        background: var(--mds-bg-btn-contained-disabled);
        color: var(--mds-text-btn-contained-disabled);
      }
    }

    &.outlined {
      border-color: var(--mds-border-btn-outlined);
      background-color: var(--mds-bg-btn-outlined);
      color: var(--mds-text-btn-outlined);
      --ripple-color: var(--mds-ripple-btn-outlined);

      &:focus:not([aria-disabled='true']) {
        background: var(--mds-bg-btn-outlined-focus);
      }

      &:hover:not([aria-disabled='true']) {
        background: var(--mds-bg-btn-outlined-hover);
      }

      &:active:not([aria-disabled='true']) {
        background: var(--mds-bg-btn-outlined-active);
      }

      &[aria-disabled='true'] {
        background: var(--mds-bg-btn-outlined-disabled);
        border-color: var(--mds-border-btn-outlined-disabled);
        color: var(--mds-text-btn-outlined-disabled);
      }
    }

    &.simple {
      color: var(--mds-text-btn-simple);
      background: var(--mds-bg-btn-simple);
      border-color: var(--mds-border-btn-simple);
      --ripple-color: var(--mds-ripple-btn-simple);

      &:focus:not([aria-disabled='true']) {
        background: var(--mds-bg-btn-simple-focus);
      }

      &:hover:not([aria-disabled='true']) {
        background: var(--mds-bg-btn-simple-hover);
      }

      &:active:not([aria-disabled='true']) {
        background: var(--mds-bg-btn-simple-active);
      }

      &[aria-disabled='true'] {
        background: var(--mds-bg-btn-simple-disabled);
        border-color: var(--mds-border-btn-simple-disabled);
        color: var(--mds-text-btn-simple-disabled);
      }
    }

    &.text {
      color: var(--mds-text-btn-text);
      background: var(--mds-bg-btn-text);
      --ripple-color: var(--mds-ripple-btn-text);

      .separator {
        background: var(--mds-bg-btn-text-dropdown-separator);
      }

      &:focus:not([aria-disabled='true']) {
        background: var(--mds-bg-btn-text-focus);
        .separator {
          background: var(--mds-bg-btn-text-dropdown-separator-focus);
        }
      }

      &:hover:not([aria-disabled='true']) {
        background: var(--mds-bg-btn-text-hover);
        .separator {
          background: var(--mds-bg-btn-text-dropdown-separator-hover);
        }
      }

      &:active:not([aria-disabled='true']) {
        background: var(--mds-bg-btn-text-active);
      }

      &[aria-disabled='true'] {
        color: var(--mds-text-btn-text-disabled);
        background: var(--mds-bg-btn-text-disabled);
      }

      &.dropdown:not([aria-disabled='true']) {
        .slot-content,
        .chevron-icon {
          color: var(--mds-text-btn-text-dropdown);
        }
      }
    }
  }
}
