.mx-button {
  button,
  a {
    &:focus:not(:focus-visible) {
      /* Only show focus outline when tabbing with keyboard */
      outline: none;
    }

    &.contained {
      background-color: var(--mds-primary-bg-dark);
      color: var(--mds-primary-text-light);
      --ripple-color: rgba(255, 255, 255, 0.32);

      &:focus {
        background: #3874ba;
      }

      &:hover {
        background: var(--mds-primary-bg-dark);
      }

      &[aria-disabled] {
        background: rgba(51, 51, 51, 0.38);
        color: rgba(51, 51, 51, 0.38);
      }
    }

    &.outlined {
      border-color: #eaeaea;
      background-color: #fff;
      color: #333;
      --ripple-color: rgba(51, 51, 51, 0.12);

      &:focus:not([aria-disabled]) {
        background: rgba(51, 51, 51, 0.12);
      }

      &:hover:not([aria-disabled]) {
        background: #f0f0f0;
      }

      &:active:not([aria-disabled]) {
        background: #fff;
      }

      &[aria-disabled] {
        background: rgba(255, 255, 255, 0.38);
        border-color: rgba(234, 234, 234, 0.38);
        color: rgba(51, 51, 51, 0.38);
      }
    }

    &.action {
      background: #ffffff;
      border-color: #eaeaea;
      --ripple-color: rgba(51, 51, 51, 0.12);

      &:focus:not([aria-disabled]) {
        background: #dcdcdc;
      }

      &:hover:not([aria-disabled]) {
        background: #f0f0f0;
      }

      &:active:not([aria-disabled]) {
        background: #fff;
      }

      &[aria-disabled] {
        border-color: #eaeaea;
        color: #c1c1c1;
      }
    }

    &.dropdown:not([aria-disabled]) {
      .slot-content,
      svg.chevron-icon {
        color: #333;
      }
    }

    &.text {
      color: #0457af;
      --ripple-color: #afc9e6;

      .separator {
        background: #eaeaea;
      }

      &:focus:not([aria-disabled]) {
        background: #c3d7ec;
        .separator {
          background: rgba(4, 87, 175, 0.24);
        }
      }

      &:hover:not([aria-disabled]) {
        background: #ebf2f9;
        .separator {
          background: rgba(4, 87, 175, 0.08);
        }
      }

      &:active:not([aria-disabled]) {
        background: transparent;
      }

      &[aria-disabled] {
        color: #c1c1c1;
      }
    }

    &.icon {
      .chevron-wrapper {
        background: #fff;
      }
      &:focus:not([aria-disabled]) {
        background: #d7d7d7;
        .chevron-wrapper {
          background: #dcdcdc;
        }
      }

      &:hover:not([aria-disabled]) {
        background: #eeeeee;
        .chevron-wrapper {
          background: #f3f3f4;
        }
      }

      &:active:not([aria-disabled]) {
        background: #d7d7d7;
        .chevron-wrapper {
          background: #dcdcdc;
        }
      }

      &[aria-disabled] {
        color: #c1c1c1;
      }
    }
  }
}
