.mx-search {
  color: var(--mds-color-secondary);

  &>input {
    border-color: var(--mds-color-secondary);
    background: var(--mds-color-white);
    color: var(--mds-color-secondary);

    &::placeholder {
      color: var(--mds-color-secondary-medium);
    }

    &.flat {
      border-color: var(--mds-color-secondary-light);
    }

    &:hover {
      border-color: var(--mds-color-primary);
    }

    &:focus {
      border-color: var(--mds-color-primary);
      box-shadow: 0px 0px 5px 0px rgba(0, 115, 230, 0.50);
    }

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  &>.clear-button {
    background: var(--mds-color-white);
    color: var(--mds-color-primary);
  }
}