.mx-switch {
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b9b9b9;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      @apply shadow-1;
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: -1px;
      bottom: -3px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &::after {
      display: none;
      content: '';
      position: absolute;
      top: -13px;
      left: -11.5px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      z-index: 0;
    }
    &:hover::after {
      display: block;
      background: rgba(0, 0, 0, 0.04);
    }
    &:active::after {
      display: block;
      background: rgba(0, 0, 0, 0.12);
    }
  }

  input:checked + .slider {
    background-color: #abc6e2;
  }

  :focus-within:focus-visible + .slider::after {
    display: block;
    background: rgba(0, 0, 0, 0.12);
  }

  input:checked + .slider:active::after,
  :focus-within:focus-visible:checked + .slider::after {
    display: block;
    background: rgba(4, 87, 175, 0.32);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background: #0457ae;
  }

  input:checked + .slider:after {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background: rgba(4, 87, 175, 0.08);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
