.mx-switch {
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mds-bg-switch-track);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      @apply shadow-1;
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: -1px;
      bottom: -3px;
      background-color: var(--mds-bg-switch-thumb);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &::after {
      display: none;
      content: '';
      position: absolute;
      top: -13px;
      left: -11.5px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      z-index: 0;
    }
    &:hover::after {
      display: block;
      background: var(--mds-bg-switch-overlay-hover);
    }
    &:active::after {
      display: block;
      background: var(--mds-bg-switch-overlay-active);
    }
  }

  input:checked + .slider {
    background-color: var(--mds-bg-switch-track-checked);
  }

  :focus-within:focus-visible + .slider::after {
    display: block;
    background: var(--mds-bg-switch-overlay-focus);
  }

  input:checked + .slider:active::after,
  :focus-within:focus-visible:checked + .slider::after {
    display: block;
    background: var(--mds-bg-switch-overlay-checked-focus);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background: var(--mds-bg-switch-thumb-checked);
  }

  input:checked + .slider:after {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background: var(--mds-bg-switch-overlay-checked-active);
  }

  input:checked + .slider:hover::after {
    background: var(--mds-bg-switch-overlay-checked-hover);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
