.mx-select {
  .mx-select-wrapper {
    color: var(--mds-text-select);
    background: var(--mds-bg-select);
    border-color: var(--mds-border-select);
    &.elevated {
      border-color: var(--mds-border-select-elevated);
    }
    &.flat {
      border-color: var(--mds-border-select-flat);
    }
    &:hover:not(.disabled, .error, :focus-within) {
      border-color: var(--mds-border-select-hover);
    }
    &:focus-within {
      border-color: var(--mds-border-select-focus);
    }

    label {
      color: var(--mds-text-input-label);
      background: var(--mds-bg-select);
      transform-origin: 0 0;
      transition: transform 0.1s ease-out;
      --translate-y: -22px;
      &.dense {
        --translate-y: -16px;
      }
      &.floating {
        transform: translate3d(-4px, var(--translate-y), 0) scale(0.8);
      }
    }

    &.error {
      border-color: var(--mds-border-select-error);

      label,
      i {
        color: var(--mds-text-select-error);
      }
    }

    &.disabled label {
      color: var(--mds-text-select-disabled);
    }

    .suffix {
      color: var(--mds-text-input-label);
      background: var(--mds-bg-select);
    }

    i {
      font-size: 24px;
    }
  }

  .assistive-text {
    color: var(--mds-text-select-assistive);
  }

  .error + .assistive-text {
    color: var(--mds-text-select-error);
  }
}
/*     label {
      position: absolute;
      left: 10px;
      display: block;
      color: var(--mds-text-select-label);
      background: var(--mds-bg-select);
      cursor: text;
      -webkit-transition: color 0.1s ease-out, -webkit-transform 0.1s ease-out;
      transition: color 0.1s ease-out, -webkit-transform 0.1s ease-out;
      transition: transform 0.1s ease-out, color 0.1s ease-out;
      transition: transform 0.1s ease-out, color 0.1s ease-out, -webkit-transform 0.1s ease-out;
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      text-align: initial;
      padding: 0 32px 0 5px;
      margin-top: 0px;
      font-size: 16px;
      z-index: 1;
      cursor: pointer;

      &.indented {
        left: 50px;
      }

      &.active {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
      }

      &.error {
        color: var(--mds-text-select-error);
      }
    }

    &.focused {

      .mx-select-inner-wrapper {
        padding: 0 15px;
      }

      .mx-select-inner-wrapper.textarea {
        margin: -1px 0;
      }
    }

    &.standard {
      min-height: 48px;

      label {
        top: 11px;

        &.active {
          -webkit-transform: translateY(-22px) scale(0.8);
          transform: translateY(-22px) scale(0.8);
          padding: 0 5px;
        }
      }

      &.focused {
        label {
          &.active {
            padding: 0 4px;
            top: 10px !important;
          }
        }
      }
    }
    &.dense {
      min-height: 36px;
      max-height: 36px;

      label {
        top: 6px;
        font-size: 14px;

        &.active {
          -webkit-transform: translateY(-16px) scale(0.8);
          transform: translateY(-16px) scale(0.8);
          padding: 0 5px;
        }
      }

      &.focused {
        label {
          &.active {
            padding: 0 4px;
            top: 5px !important;
          }
        }
      }
    }
  }

  .mx-select-inner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 0 14px;

    .mds-select-left-content {
      display: flex;
      width: 24px;
      flex-shrink: 0;
      margin-right: 11px; Label has 5px of margin
    }
    .mds-select {
      flex-grow: 1;

      select {
        width: 100%;
        padding-right: 24px;
        outline: 0;
        color: inherit;
        background: transparent;
      }
    }
  }


  textarea {
    background: transparent;
    width: 100%;
    padding: 16px 0;
    outline: none;
  }
}
 */
