.mx-select {
  label {
    color: var(--mds-text-select-label);
  }
  &.disabled label {
    color: var(--mds-text-select-disabled);
  }

  .mx-select-wrapper {
    color: var(--mds-text-select);
    background: var(--mds-bg-select);
    border-color: var(--mds-border-select);
    &.elevated {
      border-color: var(--mds-border-select-elevated);
    }
    &.flat {
      border-color: var(--mds-border-select-flat);
    }
    &:hover:not(.disabled, .error, :focus-within) {
      border-color: var(--mds-border-select-hover);
    }
    &:focus-within {
      border-color: var(--mds-border-select-focus);
    }

    label {
      background: var(--mds-bg-select);
      transform-origin: 0 0;
      transition: transform 0.1s ease-out;
      --translate-y: -22px;
      &.dense {
        --translate-y: -16px;
      }
      &.floating {
        transform: translate3d(0, var(--translate-y), 0) scale(0.8);
      }
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &.error {
      border-color: var(--mds-border-select-error);

      label,
      .icon-suffix i {
        color: var(--mds-text-select-error);
      }
    }

    &.disabled {
      color: var(--mds-text-select-disabled);
    }

    .icon-suffix {
      background: var(--mds-bg-select);

      i {
        color: var(--mds-text-select-arrow);
      }

      .suffix {
        color: var(--mds-text-input-label);
      }
    }
  }

  .assistive-text {
    color: var(--mds-text-select-assistive);
  }

  .error + .assistive-text {
    color: var(--mds-text-select-error);
  }
}
