.mx-tab {
  width: 7.5rem; /* 120px */

  &.wider {
    width: 8.313rem; /* 133px when there is both a badge and a label */
  }

  .active-tab-indicator {
    background: var(--mds-bg-tab-indicator);
  }

  button {
    color: var(--mds-text-tab);
    --ripple-color: var(--mds-ripple-tab);

    &[aria-selected] {
      color: var(--mds-text-tab-selected);
    }

    &:not([aria-selected], :active) i {
      color: var(--mds-text-tab-icon);
      &.icon-only {
        color: var(--mds-text-tab-icon-only);
      }
    }

    &:focus-visible {
      background: var(--mds-bg-tab-focus);
      border-bottom-color: var(--mds-border-tab-focus);
      &[aria-selected] {
        background: var(--mds-bg-tab-selected-focus);
      }
    }

    &:hover {
      background: var(--mds-bg-tab-hover);
      border-bottom-color: var(--mds-border-tab-hover);
      &[aria-selected] {
        background: var(--mds-bg-tab-selected-hover);
      }
    }

    &:active {
      background: var(--mds-bg-tab-active);
      color: var(--mds-text-tab-active);
      border-bottom-color: var(--mds-border-tab-active);
    }
  }
}
