.mx-tab {
  .active-tab-indicator {
    background: var(--mds-bg-tab-indicator);
  }

  button {
    color: var(--mds-text-tab);
    --ripple-color: var(--mds-ripple-tab);

    &[aria-selected='true'] {
      color: var(--mds-text-tab-selected);
    }

    &:not([aria-selected='true'], :active) i {
      color: var(--mds-text-tab-icon);
      &.icon-only {
        color: var(--mds-text-tab-icon-only);
      }
    }

    &:focus-visible {
      background: var(--mds-bg-tab-focus);
      border-bottom-color: var(--mds-border-tab-focus);
      &[aria-selected='true'] {
        background: var(--mds-bg-tab-selected-focus);
      }
    }

    &:hover {
      background: var(--mds-bg-tab-hover);
      border-bottom-color: var(--mds-border-tab-hover);
      &[aria-selected='true'] {
        background: var(--mds-bg-tab-selected-hover);
      }
    }

    &:active {
      background: var(--mds-bg-tab-active);
      color: var(--mds-text-tab-active);
      border-bottom-color: var(--mds-border-tab-active);
    }
  }
}
