.mx-menu-item {
  & > div {
    min-width: 8rem; /* 128px */
    background: var(--mds-bg-menu-item);
    color: var(--mds-text-menu-item);

    .item-label {
      color: var(--mds-text-menu-item-label);
    }

    .item-subtitle {
      color: var(--mds-text-menu-item-subtitle);
    }

    .check {
      color: var(--mds-text-menu-item-check);
    }

    &:focus,
    &:focus-within {
      background: var(--mds-bg-menu-item-focus);
    }

    &[aria-disabled] {
      color: var(--mds-text-menu-item-disabled);
    }
  }

  &.has-submenu:focus-within {
    /* Add focused background to menu item when its submenu is focused */
    background: var(--mds-bg-menu-item-focus);
  }
}

.mx-menu.autocomplete-only:not(:focus-within) .mx-menu-item:not([aria-disabled]):first-child > div {
  /* Add focused background to first enabled menu item for autocomplete-only menus */
  background: var(--mds-bg-menu-item-focus);
}
