.mx-dropdown-menu > .dropdown-wrapper {
  min-width: 20.5rem;
  color: var(--mds-text-dropdown);
  background: var(--mds-bg-dropdown);
  border-color: var(--mds-border-dropdown);

  &::placeholder {
    color: var(--mds-text-dropdown-label);
  }

  .icon-suffix {
    background: var(--mds-bg-dropdown);

    i {
      color: var(--mds-text-dropdown-arrow);
    }

    .suffix {
      color: var(--mds-text-dropdown-label);
    }
  }

  &.elevated {
    border-color: var(--mds-border-dropdown-elevated);

    &:hover:not(.focused) {
      border-color: var(--mds-border-dropdown-elevated);
      background: var(--mds-bg-dropdown-elevated-hover);
      .icon-suffix {
        background: var(--mds-bg-dropdown-elevated-hover);
      }
    }

    &.focused {
      border-color: var(--mds-border-dropdown-elevated);
      background: var(--mds-bg-dropdown-elevated-focus);
      .icon-suffix {
        background: var(--mds-bg-dropdown-elevated-focus);
      }
    }
  }

  &.flat {
    border-color: var(--mds-border-dropdown-flat);

    &:hover:not(.focused) {
      border-color: var(--mds-border-dropdown-flat);
      background: var(--mds-bg-dropdown-flat-hover);
      .icon-suffix {
        background: var(--mds-bg-dropdown-flat-hover);
      }
    }

    &.focused {
      border-color: var(--mds-border-dropdown-flat-focus);
      background: var(--mds-bg-dropdown-flat-focus);
      .icon-suffix {
        background: var(--mds-bg-dropdown-flat-focus);
      }
    }
  }

  &:hover:not(.focused) {
    border-color: var(--mds-border-dropdown-hover);
  }

  &.focused {
    border-color: var(--mds-border-dropdown-focus);
  }
}
