mc-input {
  input {
    border-color: var(--mc-secondary) !important;

    &:focus,
    &:focus-visible {
      border-color: var(--mc-primary) !important;
      box-shadow: 0 0 3px var(--mc-primary);
      outline: none;
    }

    &::placeholder {
      color: var(--mc-placeholder);
    }
  }

  .instructions {
    color: var(--mc-secondary) !important;
  }
}
