mc-input {
  i.leftIcon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 15px;
  }

  input,
  textarea {
    &:focus,
    &:focus-visible {
      border-color: var(--mc-primary) !important;
      box-shadow: 0 0 3px var(--mc-primary);
      outline: none;
    }

    &::placeholder {
      color: var(--mc-placeholder);
    }

    &.border-status-error {
      box-shadow: 0 0 3px var(--mc-status-error);
      outline: none;
    }
  }

  input {
    max-height: 40px;
  }

  .shadowFileUploadNameHolder {
    margin-top: -3px;
  }

  input[type='file'] {
    position: absolute;
    left: -9000px;
    display: none;
  }

  mc-button {
    position: absolute;
    right: 5px;
  }
}
